<h1>THE ANDROID'S DUNGEON</h1>
<section>
    <article id="register"></article>
    <article id="users"></article>
</section>
<script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
<script>
    const socket = io();
    socket.on("users", data => {
        console.log(data)
        let template = ``
        template = data.map(each=> `
            <div class="card" style="width: 18rem;">
                <h2 class="card-title">${each.name}</h2>
                <img src="${each.photo}" class="card-img-top" alt="${each.id}">
                <div class="card-body">
                    <h5 class="card-title">${each.email}</h5>
                </div>
            </div> `
        )
        document.querySelector("#users").innerHTML = template
        })
</script>