<h1 class='text-center mb-2'>Sección de cargas de productos</h1>

<div class='d-flex'>

    <div class='w-50'>
        <h3 class='text-center'>Nuevo producto</h3>
        <form class="d-flex flex-column w-75 m-auto align-items-center border border-secondary rounded p-4">

            <div class='form-group w-70 my-2'>
                <label for='exampleFormControlSelect1'>Select category</label>
                <select class='form-control' id='category'>
                    <option value="comics">Comics</option>
                    <option value="figures">Figures</option>
                    <option value="movies and series">Movies and Series</option>
                    <option value="accessories">Accessories</option>
                    <option value="card games">Card Games</option>
                    <option value="board games">Board Games</option>
                    <option value="books">Books</option>
                    <option value="clothing">Clothing</option>
                    <option value="posters">Posters</option>
                    <option value="consoles">Consoles</option>
                </select>
            </div>

            <div class='form-group w-70 my-2'>
                <label for='exampleFormControlInput1'>Title</label>
                <input
                    type='text'
                    class='form-control'
                    id='title'
                    placeholder='Product title'
                />
            </div>

            <div class='form-group w-70 my-2'>
                <label for='exampleFormControlInput1'>Price</label>
                <input
                    type='text'
                    class='form-control'
                    id='price'
                    placeholder='Product price'
                />
            </div>

            <div class='form-group w-70 my-2'>
                <label for='exampleFormControlInput1'>Stock</label>
                <input
                    type='number'
                    class='form-control'
                    id='stock'
                />
            </div>

            <div class='form-group w-70 my-2'>
                <label for='exampleFormControlInput1'>Image url</label>
                <input
                    type='text'
                    class='form-control'
                    id='photo'
                    placeholder="Paste image url link"
                />
            </div>

            <div class="form-group w-70 mt-2">
                <input id="confirm" name="confirm" type="button" class="btn btn-primary" value="Register"/>
            </div>

        </form>

    </div>

    <div class='w-50'>
        <h3 class='text-center'>Últimos productos agregados a la base de datos</h3>
        <div class="row row-cols-1 row-cols-md-3 mb-3 mx-2 text-center" id="productsList"></div>
    </div>

</div>

<script src='/socket.io/socket.io.js'></script>
<script src="/scripts/realtimeProducts.js"></script>